{% extends "layout.html" %} 


{% block content %}

<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>

</br></br>

	<div class="container">	
		
		<form role="form" method="POST" destination='' enctype="multipart/form-data">  			
			 
			<div class="form-group">
				<label for="text">תאור</label>
				<input type="text" class="form-control" name="description">
			</div>

			<div class="form-group" enctype="multipart/form-data">
			  <label for="file_obj">העלה קובץ</label>
			  <input type="file" class="form-control" enctype="multipart/form-data" id="title" name="file_obj">
			</div>						 
				

			</br>		
			
			<button type="submit" class="btn btn-default">שמור</button>		
		</form>
	</div>  <!-- class="container -->

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}