<style>
@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body {
  direction: rtl;
  font-family: "Alef Hebrew", sans-serif;
  margin: 20px 25% 20px 0;
  width: 50%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Carmela", sans-serif;
  margin-bottom: 0;
}
h1 {
  font-size: 5em;
  margin: 0;
  letter-spacing: -.05em;
}

blockquote {
  font-size: 2em;
  font-family: 'Open Sans Hebrew Condensed', serif;
  width: 100%;
  margin: 0;
  color: #777;
  padding: 0;
  float: right;
  margin-right: -47.5%;
  position: relative;
}
</style>
