
<!doctype html>
<html lang="he" dir="rtl">

	<head>
	
	{% include "layout_header.html" %}

		<title>מנטא - מערכת לניהול טיפול אישי</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">  

		<!-- FILE https://codepen.io/jopico/pen/bFyks -->
		
		<!-- style tables -->		
		{% include "css_for_layout.html" %}
		{% include "button_style.html" %}
		{% include "css_for_table.html" %}
		{% include "logo_style.html" %}
		{% include "color_layout_style.html" %}
		<!-- style tables -->
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


	</head>
	
	<body style="font-size:14pt; font-family:Arial;"> 
	
	<center>
		<nav class="navbar navbar-inverse">
		
		  <div class="weaknessetainer-fluid">
		  
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="iweaknesse-bar"></span>
				<span class="iweaknesse-bar"></span>
				<span class="iweaknesse-bar"></span>
			  </button>			 
			</div>
			
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav">
				{% include "layout_options.html" %}
			 </ul>
			</div>
			
		  </div>
		  
			
			{% if current_user.school_logo_name == None %}
				
				<img class="pull-right" style="height:70px" 
				src="{{ url_for('static', filename='img/'+'ssharon'+'.PNG') }}">	
					
			{% else %}	 
			
				<img class="pull-right" style="height:70px" 
				src="{{ url_for('static', filename='img/'+current_user.school_logo_name+'.PNG') }}">	
			
			{% endif %}
			  
			{% if current_user.matya_logo_name == None %}
				
				<img class="pull-right" style="height:70px" 
				src="{{ url_for('static', filename='img/'+'ssharon'+'.PNG') }}">	
					
			{% else %}	 
			
				<img class="pull-right" style="height:70px" 
				src="{{ url_for('static', filename='img/'+current_user.matya_logo_name+'.PNG') }}">	
			
			{% endif %}
		
		</nav>
	</center>
	
	<table class="no_border" style="width:80%; margin-right:3%;">
		<tr style="height:25px;">
		
			<td style="padding:0; marging:0; width:20%;" class="no_border">
				<h3 style="color:blue">
					{% if current_user.is_authenticated %}
						 שלום {{ current_user.username }}!
					{% endif %}				
				</h3>
			</td>
			
			<td style="padding:0; marging:0; width:60%;" class="no_border">
				<h2 style="color:green">
					<center><strong>מנט"א - מערכת ניהול טיפול אישי</strong></center>
				</h2>
			</td>

		</tr>
	</table>
		
		
		{% include 'flash_err.html' %}
		
		<div class="container scrollmenu" id="container_id";>
				
			{% block content %}{% endblock %}
				
		</div>   <!-- container -->
		
	</body>
	
</html>