{% extends "layout.html" %} 

{% block content %}

<style>
ul.tabs {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabs>li.tab {
  flex: 1;
  text-align: center;
  /* just adding visibility to the tabs */
  border: 1px solid rgba(0,0,0,.12); 
  padding: 10px;
}


input {
	width: 100%;
}

#submit_button {
	display: block;
	margin: 0 auto;
	width:fit-content;
}

</style>

	</br>

	<!-- FROM https://www.tutorialspoint.com/flask/flask_wtf.htm -->		
	<!-- <div style = "font-size:20px; font-weight:bold;  float:right; text-align:center; width:100%"> -->
	<div style = "text-align:center; width:100%">
		<fieldset>
			<form method="post" action="{{ url_for('destinations.dsply_dst_form', from_dst_sort_order=from_dst_sort_order) }}">
				
				<div>
					<legend>מטרה חדשה:</legend>
					{{ form.hidden_tag() }}
				</div>
					
				{{ form.csrf_token }}


				<ul class="tabs">
				
					<li class="tab " id="tab-4"><span class="tab-title"> 
						<div id="tag_div">
							<div> {{form.searh.label}}: {{form.searh}}</div>
							{% if form.searh.errors %}
								<ul class=errors>
									{% for error in form.searh.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>   <!-- ar_div -->
					</li>
				
					<li class="tab " id="tab-4"><span class="tab-title">
						<div id="tag_div">
							<div> {{form.add.label}}: {{form.add}}</div>
							{% if form.add.errors %}
								<ul class=errors>
									{% for error in form.add.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>   <!-- tag_div -->
					</li>
				
				
					
					<li class="tab " id="tab-4"><span class="tab-title">
						<div id="tag_div">
							<div> {{form.delete.label}}: {{form.delete}} </div>
							{% if form.delete.errors %}
								<ul class=errors>
									{% for error in form.delete.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>   <!-- sub_tag_div -->
					</li>
					
				</ul>

				<br><br>
				
				<div id="dst_title_div">
					<div> {{form.gt_title.label}}: {{form.gt_title}}  </div>
					{% if form.gt_title.errors %}
						<ul class=errors>
							{% for error in form.gt_title.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>

				<br><br>
				
				<div id="dst_body_div">
					<div> {{form.gt_body.label}}: {{form.gt_body}} </div>
					{% if form.gt_body.errors %}
						<ul class=errors>
							{% for error in form.gt_body.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				
				<br><br>
				
				<div id="submit_button"> {{form.submit}} </div>
				
				<br>
				
			</form>
		</fieldset>
	</div>
	<!-- FROM https://www.tutorialspoint.com/flask/flask_wtf.htm -->					



<!-- FROM https://github.com/PrettyPrinted/dynamic_select_flask_wtf_javascript -->
<script>
	var ar_select = document.getElementById("ar");
	var tag_select = document.getElementById("tag");

	ar_select.onchange = function()  {
		 
		ar = ar_select.value;
		
		fetch('/tag/' + ar).then(function(response) {

			response.json().then(function(data) {
				var optionHTML = '';

				for (var tag of data.tags) {
					optionHTML += '<option value="' + tag.id + '">' + tag.title + '</option>';
				}

				tag_select.innerHTML = optionHTML;
			})
			
		});
	}
</script>

<script>
	vtag tag_select = document.getElementById("tag");
	vtag scrt_select = document.getElementById("scrt");

	tag_select.onchange = function()  {
		 
		tag = tag_select.value;
		
		fetch('/scrt/' + tag).then(function(response) {

			response.json().then(function(data) {
				vtag optionHTML = '';

				for (vtag scrt of data.scrts) {
					optionHTML += '<option value="' + scrt.id + '">' + scrt.title + '</option>';
				}

				scrt_select.innerHTML = optionHTML;
			})
			
		});
	}
</script>
<!-- FROM https://github.com/PrettyPrinted/dynamic_select_flask_wtf_javascript -->


{% endblock %}