{% extends "layout.html" %}

{% block content %}

<!-- from CodePen https://codepen.io/-a/full/amOYGp -->
<style>
.logo {
  width: 75px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 500px;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}

<!-- from https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block -->

.after-box {
    border: 3px solid red; 
}

button.accordion {
    background-color: #eee;
	font-weight: bold;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
div.panel {
    padding: 0 18px;
    background-color: #888;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;
}
#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left: 10%;
	margin-right: 10%;

}
</style>

<button class="btn btn-info btn-xs" id="add_button" style="margin-right:10%"><h5><strong>
	<a href="{{ url_for('gts.gt_add_by_usr') }}">Add gt</a>
<strong></h5></button>

<button class="btn btn-info btn-xs" id="add_button" style="margin-right:10%; display=inline" ><h5><strong>
	<a href="{{ url_for('gts.delete_all_hidden') }}">Delete for good all Hidden</a>
<strong></h5></button>


{% include "./search_by_form.html" %}
{% include "./filter_by_class.html" %}


  <div>
  
		{% for gt in gts %}			

			<br><br>						
						
			<button class="btn" style="background-color:#ffcc00; color:#ffcc33" >
				<strong><a style="color:black;" href="{{url_for('gts.gt_update', selected_gt_id=gt.id) }}">ערוך</a></strong>
			</button>		
			
			<button class="btn" style="background-color:#b3ffe0; color:#ffcc33" >
				<strong><a style="color:black;" href="{{url_for('gts.add_child_to_gt2', gt_id=gt.id, child_id=0) }}">הצמד בן</a></strong>
			</button>		
			
			<button class="btn" style="background-color:#e6fff9; color:#ffcc33" >
				<strong><a style="color:black;" href="{{url_for('gts.remove_child_from_gt2',  gt_id=gt.id, child_id=0) }}">הורד בן</a></strong>
			</button>		
			
			<button class="btn" style="background-color:#ff4d4d;">
				<strong><a style="color:black;" href="{{url_for('gts.gt_delete2', selected_gt_id=gt.id) }}" style="color:black background:#ff6666">מחק</a></strong>
			</button>
	
	   		<button class="accordion" style="color:{{gt.color}};">
				{{ gt.class_name }}   {{ gt.h_name }}   {{ gt.gt_type }}
				
				</br> 
				ID: {{ gt.id }}
				
				</br>
				{{ gt.title }}
				
				</br>
				{{ gt.body }}
				
				</br>				
				FAMILY METHOD TYPE:   {{ gt.gt_type }}
					
				</br>				
				IMAGE URL:   {{ gt.image_url }}
				
				</br>
				PARENT ID:   {{gt.prnt_id}}
				
				</br>
				IS HIDDEN:   {{gt.hide}}
				
				</br>
				
			</button>
			
			<div class="panel">
				<button>				
					{% for c_gt in gt.children %}
						<div>  {{ c_gt.class_name }}:   {{ c_gt.id }} {{ c_gt.title }} </div>
					{% endfor %}
				</button>				
			</div>
			
		    <br>
		{% endfor %}
 </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}



