{% extends "layout.html" %}

{% block content %}

<!-- from CodePen https://codepen.io/-a/full/amOYGp -->
<style>
.logo {
  width: 75px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 500px;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}

<!-- from https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block -->

.after-box {
    border: 3px solid red; 
}

button.accordion {
    background-color: #eee;
	font-weight: bold;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
div.panel {
    padding: 0 18px;
    background-color: #888;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;
}
#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left: 10%;
	margin-right: 10%;

}
</style>


{% include "./search_by_form.html" %}

</br>

</br>

  <center><h3>Add a General txt as a child to  </br> {{gt.title}}</h3></center>
  
		{% for c_gt in gts %}			

			<br><br>						
						
			<button class="btn" style="background-color:#b3ffe0; color:#ffcc33" ><strong><a style="color:black;" href="{{ url_for('gts.add_child_to_gt', gt_id=gt.id, child_gt_id=c_gt.id) }}">Add as a child</a></strong></button>		
			<button class="btn" style="background-color:#b3ffe0; color:#e6e6ff" ><strong><a style="color:black;" href="{{ url_for('gts.remove_child_from_gt', gt_id=gt.id, child_gt_id=c_gt.id) }}">Remove this child from gt</a></strong></button>		
	
	   		<button class="accordion" style="color:{{c_gt.color}};">
				{{ c_gt.class_name }}   {{ c_gt.h_name }}
				
				</br> 
				{{ c_gt.id }} 
				</br>
				{{ c_gt.title }} 
				</br>
				{{ c_gt.body }}	

			</button>
			
			<div class="panel">
				<button>				
					{% for c_gt in c_gt.children %}
						<div>  {{ c_gt.h_name }}:   {{ c_gt.id }} {{ c_gt.title }} {{ c_gt.body }} </div>
					{% endfor %}
				</button>				
			</div>
			
		    <br>
		{% endfor %}
 </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}



