
{% extends "layout.html" %}

{% block content %}

<style>

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;

	lang: "he";
	dir: "rtl";
	marging: 2%;
}

#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left:10%;
	margin-right:10%;
}

</style>

<h2><center>משימות לפי סטטוס</center></h2>	
	
	<button class="btn btn-info btn-xs" id="add_button"><h5><strong>

		<a href="{{ url_for('tasks.dsply_task_form_for_add', from_task_sort_order=3) }}">הוסף משימה</a>

	<strong></h5></button>
	
	</br>

		<table id="std_table" style="width:100%">

		<tr id="header_row">
			<th>תאריך יעד</th> 
			<th>סטטוס</th>
			<th>כותרת</th>
			<th>תאור</th>
			<th>פעולות עריכה</th>
		</tr>
		
		{% for date in dates %}

				{% for task in tasks %}
					
					{% if ( task.is_parent_of(date)  %}
						<tr>
							<td>{{ task.date }}</td>
							<td>{{ sts.title }}</td>
							<td>{{ task.title }}</td>
							<td>{{ task.body }}</td>
																						
							<td>
								{% with from_task_sort_order=3 %}		
									{% include "./task_actions.html" %}
								{% endwith %}
							</td>									
						</tr>
					{% endif %}  <!-- task.is_parent_of(sts) -->
						
				{% endfor %}  <!-- tasks -->
					
					
		{% endfor %}   <!-- sts -->	

	</table>
	
	</br></br>	

{% endblock %}