{% extends "layout.html" %}

{% block content %}

<style>

table {
    font-family: titleial, sans-serif;
    border-collapse: septitleate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;
}

#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	mtitlegin-left:10%;
	mtitlegin-right:10%;
}

</style>


<h2><center>משימות לפי כותרת</center></h2>	
	<button class="btn btn-info btn-xs" id="add_button"><h5><strong>
		<a href="{{ url_for('tasks.dsply_task_form_for_add', from_task_sort_order=2) }}">משימה משימה</a>
	<strong></h5></button>
	</br></br>
	
	<table style="width:100%">

			<tr id="header_row">			
				<th>כותרת</th>
				<th>סטטוס</th>
				<th>תאריך יעד</th>
				<th>תאור</th> 
				<th>פעולות עריכה</th>
			</tr>
			
			{% for task in tasks %}
			
				{% for sts in statuss %}
				
					{% if task.is_parent_of(sts)  %}
									
							<tr>
								<td>{{ task.title }}</td>
								<td>{{ sts.title }}</td>
								<td>{{ task.due_date }}</td>
								<td>{{ task.body }}</td>
								
								<td>	
									{% with from_task_sort_order=2 %}		
										{% include "task_actions.html" %}
									{% endwith %}
								</td>
								
							</tr>
						
						{% endif %}
			
			{% endfor %}  <!-- statuss -->			
		
		{% endfor %}  <!-- tms -->
		
	</table>

{% endblock %}