
{% block gt_dropdown %}

<style>
ul.tabs {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabs>li.tab {
  flex: 1;
  text-align: center;
  /* just adding visibility to the tabs */
  border: 1px solid rgba(0,0,0,.12); 
  padding: 10px;
}


input {
	width: 100%;
}

#submit_button {
	display: block;
	margin: 0 auto;
	width:fit-content;
}

</style>


	<!-- FROM https://www.tutorialspoint.com/flask/flask_wtf.htm -->		
	<!-- <div style = "font-size:20px; font-weight:bold;  float:right; text-align:center; width:100%"> -->
	<div style = "text-align:center; width:100%;">
		<fieldset>
			<form method="post" action="{{ url_for('tasks.filter_by_status') }}">
				
				{{ form.csrf_token }}

				<ul class="tabs">
								
					<li class="tab " id="tab-4"><span class="tab-title">
						<div id="tag_div">
							<div>
							
								<div id="submit_button"> {{form.submit}} </div>
								{{form.sts.label}}: {{form.sts}}
							</div>
						</div>   <!-- tag_div -->
					</li>
					
				</ul>
																
			</form>
		</fieldset>
	</div>
	<!-- FROM https://www.tutorialspoint.com/flask/flask_wtf.htm -->					



<!-- FROM https://github.com/PrettyPrinted/dynamic_select_flask_wtf_javascript -->
<script>
	var ar_select = document.getElementById("ar");
	var tag_select = document.getElementById("tag");

	ar_select.onchange = function()  {
		 
		ar = ar_select.value;
		
		fetch('/tag/' + ar).then(function(response) {

			response.json().then(function(data) {
				var optionHTML = '';

				for (var tag of data.tags) {
					optionHTML += '<option value="' + tag.id + '">' + tag.title + '</option>';
				}

				tag_select.innerHTML = optionHTML;
			})
			
		});
	}
</script>

<script>
	vtag tag_select = document.getElementById("tag");
	vtag scrt_select = document.getElementById("scrt");

	tag_select.onchange = function()  {
		 
		tag = tag_select.value;
		
		fetch('/scrt/' + tag).then(function(response) {

			response.json().then(function(data) {
				vtag optionHTML = '';

				for (vtag scrt of data.scrts) {
					optionHTML += '<option value="' + scrt.id + '">' + scrt.title + '</option>';
				}

				scrt_select.innerHTML = optionHTML;
			})
			
		});
	}
</script>
<!-- FROM https://github.com/PrettyPrinted/dynamic_select_flask_wtf_javascript -->


{% endblock gt_dropdown %}