{% colors_block %}

/*** WHITE ***/
.white_ppp {
	border: solid 1px #EEEEEE;
	background-color: #f2f2f2;
	font-size: 16px;
	
	width: 100%;
		
}
#white_ppp {
	border: solid 1px #EEEEEE;
	background-color: #f2f2f2;
	font-size: 16px;
	
	width: 100%;
		
}
/*** WHITE ***/


/**** GREEN ***/
.green_header.accordion {
	color: #fff;
	background-color: #346767;
	border-color: #EEEEEE;
	
	font-size: 20px;
	text-decoration:underline; 
	font-weight: bold;
}
#green_header.accordion {
	color: #fff;
	background-color: #346767;
	border-color: #EEEEEE;
	
	font-size: 20px;
	text-decoration:underline; 
	font-weight: bold;
}

.green_ppp {
	border: solid 1px #EEEEEE;
	background-color: #B7FFB7;
	font-size: 18px;	
	text-align:right;
	
	width: 100%;
		
}
#green_ppp {
	border: solid 1px #EEEEEE;
	background-color: #B7FFB7;
	font-size: 18px;	
	
	width: 100%;
		
}
/**** GREEN ***/


/*** BLUE ***/
#blue_header.accordion {
	color: #000d1a;
	background-color: #e0ebeb;
	border-color: #EEEEEE;
	font-size: 18px;
}
.blue_header.accordion {
	color: #000d1a;
	background-color: #e0ebeb;
	border-color: #EEEEEE;
	font-size: 18px;
}

.blue_ppp {
	border: solid 1px #EEEEEE;
	background-color: #85adad;
	color: #000000;
	font-size: 16px;
}
#blue_ppp {
	border: solid 1px #EEEEEE;
	background-color: #85adad;
	color: #000000;
	font-size: 16px;
}
/*** BLUE ***/


/*** YELLOW ***/
#yellow_header.accordion {
	color: #000d1a;
	background-color: #ffff80;
	border-color: #EEEEEE;
	font-size: 18px;
}
.yellow_header.accordion {
	color: #000d1a;
	background-color: #ffff80;
	border-color: #EEEEEE;
	font-size: 18px;
}

.yellow_ppp {
	border: solid 1px #EEEEEE;
	background-color: #ffffb3;
	color: #000000;
	font-size: 16px;
}
#yellow_ppp {
	border: solid 1px #EEEEEE;
	background-color: #ffffb3;
	color: #000000;
	font-size: 16px;
}
/*** YELLOW ***/

{% endblock %}
