{% block css_table_block %}

{% include "green_table.html" %}
{% include "light_green_table.html" %}

{% include "base_table_style.html" %}
{% include "blue_table.html" %}
{% include "light_blue_table.html" %}

{% include "purple_table.html" %}
{% include "iner_purple_table.html" %}

{% include "yellow_table.html" %}

{% include "gray_table.html" %}

{% include "red_table.html" %}
{% include "light_red_table.html" %}

{% include "orange_table.html" %}

{% include "profile_table.html" %}

{% include "std_table.html" %}

{% include "nav_logo_style.html" %}
{% include "no_border_table.html" %}

{% endblock css_table_block %}