<style>

{
  border: 1px solid darkgray;
  border-radius: 4px;
  height: 26px;
  font-size: 8.5pt;
  background: white;
  background-image: -webkit-linear-gradient(top, white, silver);
  background-image: -moz-linear-gradient(top, white, silver);
  background-image: -ms-line.btnar-gradient(top, white, silver);
  background-image: -o-linear-gradient(top, white, silver);
  background-image: linear-gradient(to bottom, white, silver);    
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
</style>