{% block gray_table_style %}

<style>

.gray_table {
    border-collapse: separate;
}
	
table.gray_table {
    border-collapse: separate;
}

.gray_table td {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

.gray_table th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
	background-color: #D0D0D0;
	color: black;
}


.gray_table tr:nth-child(even) {
    background-color: #E8E8E8;
}

.gray_table tr:nth-child(odd) {
    background-color: #F8F8F8;
}

.gray_even {
    background-color: #E8E8E8;
}

.gray_odd {
    background-color: #F8F8F8;
}

#gray_even {
    background-color: #E8E8E8;
}

#gray_odd {
    background-color: #F8F8F8;
}

.green {
    color: green;
}

.gray {
    color: gray;
}
#gray {
    color: gray;
}

</style>

{% endblock gray_table_style %}
