<!-- FROM https://codepen.io/laviperchik/pen/lhLyo -->

<style>
@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body {
	direction: rtl;
	font-family: "Alef Hebrew", sans-serif;
	font-family: 'Open Sans Hebrew Condensed', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Carmela", sans-serif;
}

h1 {
  font-size: 5em;
  letter-spacing: -.05em;
}

</style>
