{% block iner_purple_table_style %}

<style>

.iner_purple_table {
    border-collapse: separate;
}
	
table.iner_purple_table {
    border-collapse: separate;
}

.iner_purple_table td {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

.iner_purple_table th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
	background-color: #ffffcc;
	color: #7650a1;
}


.iner_purple_table tr:nth-child(even) {
    background-color: #be94d6;
}

.iner_purple_table tr:nth-child(odd) {
    background-color: #ecb3ff;
}

</style>

{% endblock iner_purple_table_style %}
