{% block layout_header %}
	
		 <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->   
		 
		<meta charset="utf-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<script src="/static/js/moment.min.js"></script>    <!-- for datetime methods -->
		<!-- https://gojs.net/latest/learn/ --> 

		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">


		<script src="https://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel= "stylesheet" type= "text/css" href= "/static/css/tree_list_plus.css">
		<link rel= "stylesheet" type= "text/css" href= "/static/css/edit_students.css">	
		
		<!-- gojs extension files -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.7.11/go.js"></script>						
		<!--  gojs extension files -->
		
		<!-- FROM https://stackoverflow.com/questions/35499243/bootstrap-collapse-not-working-properly-hide-not-working -->
		<script type="text/javascript" src="jquery-3.1.1.js"></script>
		<script src="js/bootstrap.js"></script>
		<!-- https://stackoverflow.com/questions/35499243/bootstrap-collapse-not-working-properly-hide-not-working -->

<!-- FROM https://github.com/geekonjava/FilterSelect/blob/master/index.html -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="selectFilter.min.js"></script>
<!-- FROM https://github.com/geekonjava/FilterSelect/blob/master/index.html -->

<!-- FROM https://stackoverflow.com/questions/25978879/how-to-create-chained-selectfield-in-flask-without-refreshing-the-page -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>


<!-- FROM https://www.youtube.com/watch?v=XTpLbBJTOM4 -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <!-- FROM https://www.youtube.com/watch?v=XTpLbBJTOM4 -->

<!--  FROM https://stackoverflow.com/questions/25978879/how-to-create-chained-selectfield-in-flask-without-refreshing-the-page  -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- FROM https://mdbootstrap.com/docs/jquery/tables/editable/#:~:text=Table%20editable-,Bootstrap%20table%20editable,at%20our%20Table%20editor%20plugin.  -->
<script src='https://kit.fontawesome.com/a076d05399.js'></script>		

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>

<!-- GOJS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>מנטא</title>
	<meta name="description" content="In one diagram show the whole tree and in a second diagram show a subset that is logically near a selected node." />
	<!-- Copyright 1998-2017 by Northwoods Software Corporation. -->
	<meta charset="UTF-8">
	<script src="../release/go.js"></script>
	<script src="../assets/js/goSamples.js"></script>  <!-- this is only for the GoJS Samples framework -->

	<!-- FROM https://gojs.net/latest/learn/index.html -->
	<script src="go-debug.js"></script>
	<!-- FROM https://gojs.net/latest/learn/index.html -->
<!-- GOJS -->

	<!-- FROM http://www.jyotiranjan.in/blog/create-dynamic-drop-down-list/ -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- FROM http://www.jyotiranjan.in/blog/create-dynamic-drop-down-list/ -->


<!-- FROM http://plnkr.co/edit/xIZhMgo95NOuZwtuMNtq?p=preview&preview -->
<!-- FOR OPTION SELECT STYLE -->		
<!-- Latest compiled and minified CSS -->
    <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<!-- FOR OPTION SELECT STYLE -->		
<!-- FROM http://plnkr.co/edit/xIZhMgo95NOuZwtuMNtq?p=preview&preview -->


	<!-- FILE https://codepen.io/jopico/pen/bFyks -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_accordion -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	
	
	<!-- FROM https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_buttons_sizes -->
	<!-- FOR BUTTON SIZE -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	
	
	  
	<!-- FOR MULTISELECT DROPDOWN -->
	<!-- FROM https://codepen.io/bruce0205/pen/dvZJeJ  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
	
	<!-- FOR VUE UPLOAD FILE -->
	<!-- FROM https://codepen.io/Atinux/pen/qOvawK/ -->
	<script src="https://rawgit.com/vuejs/vue/master/dist/vue.js"></script>


{% endblock layout_header %}

