{% block light_blue_table_style %}

<style>

/*** blue class ***/

.light_blue_table {
    border-collapse: separate;
    width: 100%;}
}
	
table.light_blue_table {
    border-collapse: separate;
    width: 100%;}
}

.light_blue_table td {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

.light_blue_table th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
	background-color: #0086b3;
	color: #ffffcc;
}


.light_blue_table tr:nth-child(even) {
    background-color: #e6f2ff;
}

.light_blue_table tr:nth-child(odd) {
    background-color: #cce5ff;
}

.light_blue_even {
    background-color: #e6f2ff;
}

.light_blue_odd {
    background-color: #cce5ff;
}


</style>

{% endblock light_blue_table_style %}
