{% block red_table_style %}

<style>

.light_red_table {
    border-collapse: separate;
    width: 100%;
}
	
table.light_red_table {
    border-collapse: separate;
    width: 100%;
}

.light_red_table td {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

.light_red_table th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
	background-color: #ff5c33;	
	color: snow;
}


.light_red_table tr:nth-child(even) {
    background-color: #ffe6e6;
}

.light_red_table tr:nth-child(odd) {
    background-color: #ffb3b3 ;
}

.lred {
    color: #ffb3b3;
}
#lred {
    color: #ffb3b3;
}


.light_red_even  {
    background-color: #ffe6e6;
}

.light_red_odd  {
    background-color: #ffb3b3 ;
}


#light_red_even  {
    background-color: #ffe6e6;
}

#light_red_odd  {
    background-color: #ffb3b3 ;
}

</style>

{% endblock red_table_style %}
