{% block orange_table_style %}

<style>

.orange_table {
    border-collapse: separate;
}
	
table.orange_table {
    border-collapse: separate;
}

.orange_table td {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

.orange_table th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
	background-color: orange;
	color: white;
}


.orange_table tr:nth-child(even) {
    background-color: #fffae6;
}

.orange_table tr:nth-child(odd) {
    background-color: #ffe066;
}

.orange_even {
    background-color: #fffae6;
}

.orange_odd {
    background-color: #ffe066;
}


.orange {
    color: orange;
}
#orange {
    color: orange;
}

</style>

{% endblock orange_table_style %}
