<style>

#blue_title  {
	background: #e6f2ff;
	border:thick solid #0089b3;
	color:black;
	marging: 1%;
	border-radius: 5px;

}

.blue_body  {
	background-color: #cce5ff ;
	border:thin solid purple;
	color:white;
	border-radius: 5px;
}


#purple_title  {
	background: #e8d1f0;
	border:thick solid #7650a1;
	color:black;
	marging: 1%;
	border-radius: 5px;
}

.purple_body  {
	background-color: #ce7aeb ;
	border:thin solid purple;
	color:black;
	border-radius: 5px;
}


#iner_purple_title  {
	background: #e8d1f0;
	border:thick solid #7650a1;
	color:black;
	marging: 1%;
	border-radius: 5px;
}


.iner_purple_body  {
	background-color: #d0b6e0 ;
	border:thin solid #7650a1;
	color:black;
	border-radius: 5px;
}


#green_title  {
	background: #e6ffe6;
	border:thick solid mediumseagreen;
	color:black;
	border-radius: 5px;
}

.green_body  {
	background-color: #ccffcc;
	border:thin solid mediumseagreen;
	color:black;
	border-radius: 5px;
}


#red_title  {
	background: #ffb3b3;
	border:thick solid red;
	color:black;
	border-radius: 5px;

}

.red_body  {
	background-color: #ff9999;
	border:thin solid red;
	color:white;
	border-radius: 5px;

}


#orange_title  {
	background: #fffae6;
	border:thick solid orange;
	color:black;
	border-radius: 5px;
}

.orange_body  {
	background-color: #ffe066;
	border:thin solid orange;
	color:white;
	border-radius: 5px;
}

#gray_title  {
	background: #E8E8E8;
	border:thick solid #404040;
	color:black;
	border-radius: 5px;
}

.gray_body  {
	background-color: #F8F8F8;
	border:thin solid black;
	color:black;
	border-radius: 5px;
}


.profile_table  {
	table-layout:fixed;
	border:thin solid black;
	border-radius: 5px;
}

</style>