{% block yellow_table_style %}

<style>

.yellow_table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;}
}
	
table.yellow_table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;}
}

.yellow_table td {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

.yellow_table th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
	background-color: #ffff66;
	color: black;
}


.yellow_table tr:nth-child(even) {
    background-color: #ffff99;
}

.yellow_table tr:nth-child(odd) {
    background-color: #ffffcc;
}

.yellow {
    color: yellow;
}
#yellow {
    color: yellow;
}

</style>

{% endblock yellow_table_style %}
